
@{
    Layout = null;
}

@{
    ViewBag.Title = "deneme";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentsToBank</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


    <style>
        body {
            margin-top: 20px;
        }

        .panel-title {
            display: inline;
            font-weight: bold;
        }

        .checkbox.pull-right {
            margin: 0;
        }

        .pl-ziro {
            padding-left: 0px;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>

    @* Start Get Data by URl *@
    <script type="text/javascript">
        var queryString = new Array();
        $(function () {

            if (queryString.length == 0) {
                if (window.location.search.split('?').length > 1) {
                    var params = window.location.search.split('?')[1].split('&');
                    for (var i = 0; i < params.length; i++) {
                        var key = params[i].split('=')[0];
                        var value = decodeURIComponent(params[i].split('=')[1]);
                        queryString[key] = value;
                    }
                }
            } 
            if (queryString["amunt"] != null && queryString["Tc"] != null) {
                var veri = { tc: queryString["Tc"] };
                $.post("http://localhost:55051/GV_Servis.svc/Deneme", veri, function (success) {
                    alert(success);

                })
                var data = queryString["amunt"];
                $("#lblData").html(data);
            }
        });



        //start pay processsss
        $(function () {

            $("#payBased").bind("click", function () {
                var clean = decodeURIComponent(queryString["ur"])
                var us = clean + "?pay=";
                var url = us + encodeURIComponent("1");
                window.location.href = url;

            });
        });
        //end
    </script>
    @* End Get Data by URl *@

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Ödeme Bilgileri
                        </h3>

                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                            <div class="form-group">
                                <label for="cardNumber">
                                    Kart Numarası
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="cardNumber" placeholder="CARD NUMBER"
                                           required autofocus />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="expityMonth">
                                            Son Kullanım Tarihi
                                        </label>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityMonth" placeholder="Ay" required />
                                        </div>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityYear" placeholder="Yıl" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">
                                            CV No
                                        </label>
                                        <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span><span id="lblData"></span></span> Toplam Ödenecek</a>
                    </li>
                </ul>
                <br />
                <a id="payBased" class="btn btn-success btn-lg btn-block" role="button">Öde</a>
            </div>
        </div>
    </div>


</body>
</html>
